/* My html color is black */
html {
  color: black;
}
/* My head is black in color. */
head {
  color: black;
}
/* My meta is black in color. */
meta {
  color: black;
}
/* My title is black in color. */
title {
  color: black;
}
/* My link in blsck in color. */
link {
  color: black;
}
/* My body is black in color. */
body {
  color: black;
}
/* My header is black in color. */
header {
  color: black;
}
/* My nav is black in color and the font-size is 20px for visible eye sight. */
nav {
  color: black;
  font-size: 20px;
}
/* My ul is blue in color and the padding-left is 325px for visible eye sight. */
ul {
  color: blue;
  padding-left: 325px;
}
/* My li is black in color. */
li {
  color: black;
}
/* My img is black in color,font-size is 100px, width is 100px,justify-contentis centered and 
    padding is 500px for visible eye sight. */
img {
  color: black;
  font-size: 100px;
  width: 100px;
  justify-content: center;
  padding-left: 500px;
}
/* My a is black in color. */
a {
  color: black;
}
/* My h1 is black in color. */
h1 {
  color: black;
}
/* My h2 is black in color. */
h2 {
  color: black;
}
/* Mu main is black in color. */
main {
  color: black;
}
/* My article is black in color. */
section {
  color: black;
}
/* My div is black in color. */
div {
  color: black;
}
/* My p is black in color and font-size is 40px for visible eye sight. */
p {
  color: black;
  font-size: 40px;
}
/* My footer is black in color. */
footer {
  color: black;
}
address {
  color: black;
}
/* My div is black in color. */
div {
  color: black;
}
